@mixin font-config($name: 'Helwetica', $weight: 400, $size: 24px, $l_h: 36px) {
  font-family: $name;
  font-weight: $weight;
  font-size: $size;
  line-height: $l_h;
  @content;
}

@mixin w_h($w: 100%, $h: 100%) {
  width: $w;
  height: $h;
}
