/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

button {
  &:focus {
    outline: none !important;
  }
}

a {
  &:hover, &:active {
    text-decoration: none;
    color: inherit;
  }
}