<div class="d-flex justify-content-center login-page">
    <div class="col col-5">
        <mat-card>
            <mat-card-content>
                <form [formGroup]="loginForm" (submit)="handleLoginSubmit()" novalidate>
                    <div class="alert alert-danger" *ngIf="loginForm.getError('incorrentlogOrPass')">
                        <span>{{loginForm.errors.incorrentlogOrPass}}</span>
                    </div>

                    <mat-form-field class="w-100">
                        <mat-label>Email:</mat-label>

                        <input
                                type="text"
                                matInput
                                formControlName="email"
                                placeholder="E-mail"
                        >

                        <mat-error *ngIf="loginForm.get('email').touched && loginForm.get('email').hasError('required')">
                            Field is <strong>required</strong>
                        </mat-error>

                        <mat-error *ngIf="loginForm.get('email').touched && loginForm.get('email').hasError('pattern')">
                            <strong>Invalid</strong> email address
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="w-100">
                        <mat-label>Password:</mat-label>

                        <input
                                type="password"
                                matInput
                                formControlName="password"
                                placeholder="Password"
                        >

                        <mat-error *ngIf="loginForm.get('password').touched && loginForm.get('password').hasError('required')">
                            Field is <strong>required</strong>
                        </mat-error>

                        <mat-error *ngIf="loginForm.get('password').touched && loginForm.get('password').hasError('minlength')">
                            Field must min <strong>{{ loginForm.get('password').errors.minlength.requiredLength }}</strong> characters. Please enter {{ loginForm.get('password').errors.minlength.requiredLength - loginForm.get('password').errors.minlength.actualLength }} <strong>more</strong> characters
                        </mat-error>

                        <mat-error *ngIf="loginForm.get('password').touched && loginForm.get('password').hasError('maxlength')">
                            Field must max <strong>{{ loginForm.get('password').errors.maxlength.requiredLength }}</strong> characters. Please remove {{ loginForm.get('password').errors.maxlength.actualLength - loginForm.get('password').errors.maxlength.requiredLength }} <strong>more</strong> characters
                        </mat-error>

                        <mat-error *ngIf="loginForm.get('password').touched && loginForm.get('password').hasError('pattern') && (loginForm.get('password').errors | objectKeys).length === 1">
                            Field must have only symbols or/and numbers. None special symbols: !,@,# etc.
                        </mat-error>
                    </mat-form-field>

                    <mat-checkbox formControlName="isRemember">Remember me</mat-checkbox>

                    <div class="actions d-flex justify-content-start">
                        <button
                                type="submit"
                                mat-flat-button
                                color="primary"
                        >
                            Sign in
                        </button>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>