<app-header>
  <h3>Cleveroad test</h3>
</app-header>

<main class="main d-flex justify-content-center align-items-center">
  <div class="container">
      <router-outlet></router-outlet>
  </div>
</main>
