<div class="user-info">
    <mat-card>
        <mat-card-header class="justify-content-between">
            <mat-card-title>User info</mat-card-title>

            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>

            <mat-menu #menu="matMenu">
                <a [routerLink]="['/authenticate/edit-profile']" mat-menu-item>
                    <span>Settings</span>
                </a>

                <button mat-menu-item (click)="logout()">
                    <span>Logout</span>
                </button>
            </mat-menu>
        </mat-card-header>

        <mat-card-content>
            <div class="w-100 user-info-item" *ngFor="let item of $userDetail | async">
                <mat-form-field class="w-100">
                    <mat-label>{{ item[0] | upperFirstLetter:true }}</mat-label>
                    <input matInput type="text" disabled [value]="item[1]">
                </mat-form-field>
            </div>
        </mat-card-content>
    </mat-card>
</div>