<div class="d-flex justify-content-center edit-profile-page">
    <div class="col col-4">
        <form [formGroup]="profileForm" (submit)="handleEditProfileSubmit()" novalidate>
            <mat-form-field class="w-100">
                <mat-label>First name:</mat-label>

                <input
                        type="text"
                        matInput
                        formControlName="first_name"
                        placeholder="First name"
                >

                <mat-error *ngIf="profileForm.get('first_name').touched && profileForm.get('first_name').hasError('required')">
                    Field is <strong>required</strong>
                </mat-error>

                <mat-error *ngIf="profileForm.get('first_name').touched && profileForm.get('first_name').hasError('minlength')">
                    Field must min <strong>{{ profileForm.get('first_name').errors.minlength.requiredLength }}</strong> characters. Please enter {{ profileForm.get('first_name').errors.minlength.requiredLength - profileForm.get('first_name').errors.minlength.actualLength }} <strong>more</strong> characters
                </mat-error>

                <mat-error *ngIf="profileForm.get('first_name').touched && profileForm.get('first_name').hasError('maxlength')">
                    Field must max <strong>{{ profileForm.get('first_name').errors.maxlength.requiredLength }}</strong> characters. Please remove {{ profileForm.get('first_name').errors.maxlength.actualLength - profileForm.get('first_name').errors.maxlength.requiredLength }} <strong>more</strong> characters
                </mat-error>
            </mat-form-field>

            <mat-form-field class="w-100">
                <mat-label>Last name:</mat-label>

                <input
                        type="text"
                        matInput
                        formControlName="last_name"
                        placeholder="First name"
                >

                <mat-error *ngIf="profileForm.get('last_name').touched && profileForm.get('last_name').hasError('required')">
                    Field is <strong>required</strong>
                </mat-error>

                <mat-error *ngIf="profileForm.get('last_name').touched && profileForm.get('last_name').hasError('minlength')">
                    Field must min <strong>{{ profileForm.get('last_name').errors.minlength.requiredLength }}</strong> characters. Please enter {{ profileForm.get('last_name').errors.minlength.requiredLength - profileForm.get('last_name').errors.minlength.actualLength }} <strong>more</strong> characters
                </mat-error>

                <mat-error *ngIf="profileForm.get('last_name').touched && profileForm.get('last_name').hasError('maxlength')">
                    Field must max <strong>{{ profileForm.get('last_name').errors.maxlength.requiredLength }}</strong> characters. Please remove {{ profileForm.get('last_name').errors.maxlength.actualLength - profileForm.get('last_name').errors.maxlength.requiredLength }} <strong>more</strong> characters
                </mat-error>
            </mat-form-field>

            <mat-form-field class="w-100">
                <mat-label>Email:</mat-label>

                <input
                        type="text"
                        matInput
                        formControlName="email"
                        placeholder="E-mail"
                >

                <mat-error *ngIf="profileForm.get('email').touched && profileForm.get('email').hasError('required')">
                    Field is <strong>required</strong>
                </mat-error>

                <mat-error *ngIf="profileForm.get('email').touched && profileForm.get('email').hasError('pattern')">
                    <strong>Invalid</strong> email address
                </mat-error>
            </mat-form-field>

            <mat-form-field class="w-100">
                <mat-label>Phone:</mat-label>

                <input
                        type="text"
                        matInput
                        formControlName="phone"
                        placeholder="Phone"
                        [textMask]="{mask: mask}"
                >

                <mat-error *ngIf="profileForm.get('phone').touched && profileForm.get('phone').hasError('required')">
                    Field is <strong>required</strong>
                </mat-error>
            </mat-form-field>

            <div class="actions d-flex justify-content-start">
                <a
                    mat-flat-button
                    color="warn"
                    [routerLink]="['/product-list']"
                >
                    Cancel
                </a>

                <button
                        type="submit"
                        mat-flat-button
                        color="primary"
                >
                    Edit
                </button>

                <button
                        type="button"
                        mat-raised-button
                        (click)="openDialogChangePass()"
                >Change pass</button>
            </div>
        </form>
    </div>
</div>
