<div class="d-flex align-items-center h-100 change-product-modal flex-column">
    <h3>{{ matDialogData.isNew ? 'New product' : 'Edit product' }}</h3>

    <form [formGroup]="productForm" (submit)="handleProductChangeSubmit()" novalidate>
        <mat-form-field class="w-100">
            <mat-label>Name product:</mat-label>

            <input
                    type="text"
                    matInput
                    formControlName="name"
            >

            <mat-error *ngIf="productForm.get('name').touched && productForm.get('name').hasError('required')">
                Field is <strong>required</strong>
            </mat-error>

            <mat-error *ngIf="productForm.get('name').touched && productForm.get('name').hasError('minlength')">
                Field must min <strong>{{ productForm.get('name').errors.minlength.requiredLength }}</strong> characters. Please enter {{ productForm.get('name').errors.minlength.requiredLength - productForm.get('name').errors.minlength.actualLength }} <strong>more</strong> characters
            </mat-error>

            <mat-error *ngIf="productForm.get('name').touched && productForm.get('name').hasError('maxlength')">
                Field must max <strong>{{ productForm.get('name').errors.maxlength.requiredLength }}</strong> characters. Please remove {{ productForm.get('name').errors.maxlength.actualLength - productForm.get('name').errors.maxlength.requiredLength }} <strong>more</strong> characters
            </mat-error>
        </mat-form-field>

        <mat-form-field class="w-100">
            <mat-label>Price product:</mat-label>

            <input
                    type="text"
                    matInput
                    formControlName="price"
            >

            <mat-error *ngIf="productForm.get('price').touched && productForm.get('price').hasError('required')">
                Field is <strong>required</strong>
            </mat-error>

            <mat-error *ngIf="productForm.get('price').touched && productForm.get('price').hasError('pattern')">
                <strong>Invalid</strong> format. Example: XX.XX
            </mat-error>
        </mat-form-field>

        <mat-form-field class="w-100">
            <mat-label>Description product:</mat-label>

            <textarea
                    type="text"
                    matInput
                    formControlName="description"
            ></textarea>

            <mat-error *ngIf="productForm.get('description').touched && productForm.get('description').hasError('required')">
                Field is <strong>required</strong>
            </mat-error>

            <mat-error *ngIf="productForm.get('description').touched && productForm.get('description').hasError('minlength')">
                Field must min <strong>{{ productForm.get('description').errors.minlength.requiredLength }}</strong> characters. Please enter {{ productForm.get('description').errors.minlength.requiredLength - productForm.get('description').errors.minlength.actualLength }} <strong>more</strong> characters
            </mat-error>

            <mat-error *ngIf="productForm.get('description').touched && productForm.get('description').hasError('maxlength')">
                Field must max <strong>{{ productForm.get('description').errors.maxlength.requiredLength }}</strong> characters. Please remove {{ productForm.get('description').errors.maxlength.actualLength - productForm.get('description').errors.maxlength.requiredLength }} <strong>more</strong> characters
            </mat-error>
        </mat-form-field>

        <div class="actions d-flex justify-content-start">
            <button
                type="button"
                mat-raised-button
                color="warn"
                (click)="closeModal()"
            >
                Cancel
            </button>

            <button
                color="primary"
                type="submit"
                mat-raised-button
            >
                {{ matDialogData.isNew ? 'Crete produtc' : 'Edit product' }}
            </button>
        </div>
    </form>
</div>
