<div class="d-flex align-items-center h-100 change-passwrod-modal flex-column">
    <h3>Change password</h3>

    <div class="alert alert-danger w-100" *ngIf="changePassForm.hasError('inccorectOldPass')">
        <span>{{ changePassForm.errors.inccorectOldPass }}</span>
    </div>

    <div class="alert alert-danger w-100" *ngIf="changePassForm.hasError('inccorectEqualsPass')">
        <span>{{ changePassForm.errors.inccorectEqualsPass }}</span>
    </div>

    <form [formGroup]="changePassForm" (submit)="handlerChangePassSubmit()" novalidate>
        <mat-form-field class="w-100">
            <mat-label>Old password:</mat-label>

            <input
                    type="password"
                    matInput
                    formControlName="oldPass"
                    placeholder="Old password"
            >

            <mat-error *ngIf="changePassForm.get('oldPass').touched && changePassForm.get('oldPass').hasError('required')">
                Field is <strong>required</strong>
            </mat-error>

            <mat-error *ngIf="changePassForm.get('oldPass').touched && changePassForm.get('oldPass').hasError('minlength')">
                Field must min <strong>{{ changePassForm.get('oldPass').errors.minlength.requiredLength }}</strong> characters. Please enter {{ changePassForm.get('oldPass').errors.minlength.requiredLength - changePassForm.get('oldPass').errors.minlength.actualLength }} <strong>more</strong> characters
            </mat-error>

            <mat-error *ngIf="changePassForm.get('oldPass').touched && changePassForm.get('oldPass').hasError('maxlength')">
                Field must max <strong>{{ changePassForm.get('password').errors.maxlength.requiredLength }}</strong> characters. Please remove {{ changePassForm.get('oldPass').errors.maxlength.actualLength - changePassForm.get('oldPass').errors.maxlength.requiredLength }} <strong>more</strong> characters
            </mat-error>

            <mat-error *ngIf="changePassForm.get('oldPass').touched && changePassForm.get('oldPass').hasError('oldPass') && (changePassForm.get('oldPass').errors | objectKeys).length === 1">
                Field must have only symbols or/and numbers. None special symbols: !,@,# etc.
            </mat-error>
        </mat-form-field>

        <mat-form-field class="w-100">
            <mat-label>New password:</mat-label>

            <input
                    type="password"
                    matInput
                    formControlName="newPass"
                    placeholder="New password"
            >

            <mat-error *ngIf="changePassForm.get('newPass').touched && changePassForm.get('newPass').hasError('required')">
                Field is <strong>required</strong>
            </mat-error>

            <mat-error *ngIf="changePassForm.get('newPass').touched && changePassForm.get('newPass').hasError('minlength')">
                Field must min <strong>{{ changePassForm.get('newPass').errors.minlength.requiredLength }}</strong> characters. Please enter {{ changePassForm.get('newPass').errors.minlength.requiredLength - changePassForm.get('newPass').errors.minlength.actualLength }} <strong>more</strong> characters
            </mat-error>

            <mat-error *ngIf="changePassForm.get('newPass').touched && changePassForm.get('newPass').hasError('maxlength')">
                Field must max <strong>{{ changePassForm.get('newPass').errors.maxlength.requiredLength }}</strong> characters. Please remove {{ changePassForm.get('newPass').errors.maxlength.actualLength - changePassForm.get('newPass').errors.maxlength.requiredLength }} <strong>more</strong> characters
            </mat-error>

            <mat-error *ngIf="changePassForm.get('newPass').touched && changePassForm.get('newPass').hasError('newPass') && (changePassForm.get('newPass').errors | objectKeys).length === 1">
                Field must have only symbols or/and numbers. None special symbols: !,@,# etc.
            </mat-error>
        </mat-form-field>

        <mat-form-field class="w-100">
            <mat-label>Repeat password:</mat-label>

            <input
                    type="password"
                    matInput
                    formControlName="repeatPass"
                    placeholder="Repeat password"
            >

            <mat-error *ngIf="changePassForm.get('repeatPass').touched && changePassForm.get('repeatPass').hasError('required')">
                Field is <strong>required</strong>
            </mat-error>

            <mat-error *ngIf="changePassForm.get('repeatPass').touched && changePassForm.get('repeatPass').hasError('minlength')">
                Field must min <strong>{{ changePassForm.get('repeatPass').errors.minlength.requiredLength }}</strong> characters. Please enter {{ changePassForm.get('repeatPass').errors.minlength.requiredLength - changePassForm.get('repeatPass').errors.minlength.actualLength }} <strong>more</strong> characters
            </mat-error>

            <mat-error *ngIf="changePassForm.get('repeatPass').touched && changePassForm.get('repeatPass').hasError('maxlength')">
                Field must max <strong>{{ changePassForm.get('repeatPass').errors.maxlength.requiredLength }}</strong> characters. Please remove {{ changePassForm.get('repeatPass').errors.maxlength.actualLength - changePassForm.get('repeatPass').errors.maxlength.requiredLength }} <strong>more</strong> characters
            </mat-error>

            <mat-error *ngIf="changePassForm.get('repeatPass').touched && changePassForm.get('repeatPass').hasError('repeatPass') && (changePassForm.get('repeatPass').errors | objectKeys).length === 1">
                Field must have only symbols or/and numbers. None special symbols: !,@,# etc.
            </mat-error>
        </mat-form-field>

        <div class="actions d-flex justify-content-start">
            <button
                    type="button"
                    mat-raised-button
                    color="warn"
                    (click)="closeModal()"
            >
                Cancel
            </button>

            <button
                type="submit"
                mat-raised-button
                color="primary"
            >
                Change password
            </button>
        </div>
    </form>
</div>