.accordion {
  margin: 10px 0;
  display: block;

  ::ng-deep .mat-checkbox-layout {
    margin: 0 10px 0 0;
  }

  ::ng-deep .mat-content {
    overflow: visible;
  }

  ::ng-deep .mat-expansion-panel-header-title {
    width: 200px;
    flex-grow: initial;
  }

  .actions {
    button {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
}