<div class="container">
    <div class="d-flex justify-content-around">
        <div class="col col-5">
            <app-user-info></app-user-info>
        </div>

        <div class="col col-7">
            <mat-card>
                <mat-card-content>
                    <h4>List products</h4>

                    <div *ngIf="($productsByCurrentUser | async)?.length === 0">None products</div>

                    <div class="actions d-flex justify-content-end">
                        <button
                            *ngIf="selectedProductsIds.length > 0"
                            style="margin-right: 10px"
                            type="button"
                            mat-raised-button
                            color="warn"
                            (click)="removeMultipleProducts()"
                        >
                            Remove products: {{ selectedProductsIds.length }}
                        </button>

                        <button type="button" mat-raised-button color="primary" (click)="actionProduct()">
                            Create product
                        </button>
                    </div>

                    <ng-container *ngIf="($prooductsByPaginatorSetting | async)?.length > 0">
                        <mat-accordion class="accordion">
                            <mat-expansion-panel *ngFor="let product of $prooductsByPaginatorSetting | async">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <mat-checkbox
                                                [(ngModel)]="product.isSelect"
                                                (change)="actionMark(product.id)"
                                        ></mat-checkbox>
                                        <span>Name: {{product.name}}</span>
                                    </mat-panel-title>

                                    <mat-panel-description>
                                        <span>Price: {{product.price}}</span>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>

                                <div class="description" style="margin-bottom: 15px;"><span>Description: </span>{{product.description}}</div>

                                <div class="actions d-flex justify-content-lg-start">
                                    <button
                                        type="button"
                                        mat-raised-button
                                        color="warn"
                                        (click)="removeProduct(product.id)"
                                    >
                                        Remove
                                    </button>

                                    <button
                                        type="button"
                                        mat-raised-button
                                        color="primary"
                                        (click)="actionProduct(product)"
                                    >
                                        Edit
                                    </button>
                                </div>
                            </mat-expansion-panel>
                        </mat-accordion>

                        <mat-paginator #paginator
                                       [length]="($productsByCurrentUser | async)?.length"
                                       [pageSize]="pageSize"
                                       [pageSizeOptions]="pageSizeOptions"
                                       (page)="handlePaginate($event)"
                        >
                        </mat-paginator>
                    </ng-container>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>